/* variaveis */
:root {
  --background-color: rgb(255, 246, 243);
  --light-blue: rgb(17, 138, 178);
  --nav-item-color: rgb(7, 59, 76);
  --emphasis-color: rgb(6, 214, 160);
  --hr-color: rgb(100, 25, 25);
}

/* global */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

/* header */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--nav-item-color);
}

.navbar-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-list img {
  height: 150px;
}

.navbar-list__item {
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: bold;
}

.navbar-list__item:hover {
  border-bottom: 5px solid var(--light-blue);
  color: var(--light-blue);
}

/* main */
main {
  height: 855px;
  background: url('../assets/img/capa2.jpg') no-repeat;
  background-size: 2200px;
  background-position: 70%;
  box-shadow: 0px -3px 9px 0px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  max-height: 820px;
  width: 1050px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.square h1 {
  font-size: 32px;
  color: white;
}

.square p {
  color: white;
  line-height: 22px;
  word-spacing: 3px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 21px;
  padding: 20px;
}

.square hr {
  width: 25%;
  border: 1px solid var(--hr-color);
}

.square hr:hover {
  transition: all ease-in-out 0.6s;
  width: 50%;
}

.strong {
  color: var(--emphasis-color) !important;
  font-size: 1.5rem;
}

/* section */

section {
  text-align: center;
}

.our-clients {
  display: flex;
  justify-content: space-around;
}

.our-clients img {
  height: 100px;
  margin-bottom: 35px;
}

section h2 {
  margin: 50px;
}

/* media-queries */

@media (max-width: 1118px) {
  .our-clients img {
    transition: ease-in-out 0.4s;
    height: 85px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 948px) {
  header {
    transition: all ease-in-out 0.3s;
    width: 100%;
  }

  .navbar-list {
    transition: all ease-in-out 0.3s;
    margin: 0 0 25px 0;
  }

  .square {
    transition: all ease-in-out 0.3s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .our-clients {
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
  }

  .our-clients img {
    height: 100px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 554px){
  header {
    transition: all ease-in-out 0.3s;
    width: 100%;
  }

  .navbar-list {
    transition: all ease-in-out 0.6s;
    flex-direction: column;
    margin: 0 0 25px 0;
  }

  .square {
    transition: all ease-in-out 0.6s;
    text-align: center;
  }

  .our-clients {
    display: flex;
    flex-direction: column;
  }

  .our-clients img {
    height: 50px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 420px){
  header {
    transition: all ease-in-out 0.3s;
      width: 100%;
  }

  .navbar-list {
    transition: all ease-in-out 0.3s;
    flex-direction: column;
    margin: 0 0 25px 0;
  }

  .square {
    transition: all ease-in-out 0.3s;
    text-align: center;
  }

  .our-clients {
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
  }

  .our-clients img {
    height: 50px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 360px){
  header {
    transition: all ease-in-out 0.3s;
    width: 100%;
  }

  .navbar-list {
    transition: all ease-in-out 0.3s;
    flex-direction: column;
    margin: 0 0 25px 0;
  }

  .square {
    transition: all ease-in-out 0.3s;
    text-align: center;
  }
  
  .square p {
    font-size: 16px;
  }

  .our-clients {
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
  }

  .our-clients img {
    height: 50px;
    margin-bottom: 35px;
  }
}