:root {
  --green: #009879;
  --background: #ececec;
  --thead-tr-color: #ffffff;
  --tbody-tr-color: #dddddd;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

ul {
  width: 100%;
}

.navbar {
  display: flex;
  justify-items: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

/* estilos do navbar */


/* estilos para a tabela */

.content-table {
  border-collapse: collapse;
  font-size: 1rem;
  min-width: 500px;
  margin: 25px 0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.content-table thead tr {
  background: var(--green);
  color: var(--thead-tr-color);
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 2px solid var(--tbody-tr-color);
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tr:last-of-type {
  border-bottom: 2px solid var(--green);
}

/* highlight nos itens, se necessário */
.content-table tbody tr.highlight {
  font-weight: bold;
  color: var(--green);
}